/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

input:focus{
   outline:none;
  }

@import url("cart.css");


* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body {
	background-color: #E0E0E0;
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

body a {
	color: #ff0000;
}

#top {
	position: relative;
	height: 172px;
	background: #FDFDFD;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);
}

#top img {
	padding: 16px;
}

#navbar img {
	padding: 0px;
}

#navbar {
	font-size: 24px;
	position: absolute;
	bottom: 0;
	padding: 8px;
}

.navbar-item, .navbar-item-active {
	display: block;
	float: left;
	padding: 4px;
	margin-right: 8px;
}
#navbar .navbar-item-active {
	color: white;
	background-color: #ED0B0B;
	box-shadow: inset 0px -2px 0px rgba(0,0,0,0.2);
	vertical-align: middle;
}

.navbar-item a, .navbar-item-active a {
	text-decoration: none;
}

.navbar-item a {
	color:black;
}
.navbar-item a, .navbar-item-active a {
	color:inherit;
}



#pitsulista {
	width:100%;
	float:left;
	margin-right:-272px;
}

#pitsulistax {
	margin-right: 280px;
	padding: 16px;
}

#tilauslomake {
	width:100%;
	float:left;
	margin-right:-272px;
}

#tilauslomakex {
	margin-right: 280px;
	margin: 16px;
	margin-right: 304px;
	padding: 16px;
	background-color: #FDFDFD;
			-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
}

#tilauslomake table{
	max-width:640px;
	width:100%;
}

#tilauslomake p{
	padding-top:4px;
	padding-bottom:4px;
}

#tilauslomake td{
	padding-right:16px;
}

#tilauslomake table input{
	width:100%;
	border: 1px solid #A7A7A7;
	height:32px;
	padding-left:8px;
	font-size: 14px;
	font-family: Helvetica;
}

#tilauslomake table input[type=text]:focus{
	border: 1px solid green;
}

#tilauslomake input[type="submit"]{
	font-weight: bold;
	font-size: 13px;
	padding:8px;
	margin-top: 16px;
	background-color: #392;
	color:white;
	border-radius: 2px;
	border: 0px solid black;
	border-bottom: 2px solid #171;
}

.sort {
    float:right;
    text-align:center;
    display:inline-block;
    /*text-align:right;*/
    padding-right:1em;
    position: relative;
    top:0;
    margin-right: 6px;
    background-color: white;
    padding: 4px;
    -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.75);
}
.kategoria {
	font-size: 36px;
	padding-bottom: 8px;
    clear:both;
    margin-top:.3em;
}

#pitsulista .tuote {
	cursor:pointer;
	float: left;
	display: inline-block;
	min-height: 160px;
	min-width: 160px;
	position: relative;
	margin:4px;
    overflow: hidden;
}

.pitsuid {
    bottom: 0px;
    top: 130px;
	display: block;
	position: absolute;
	width: 160px;
	background: rgba(0,0,0,0.50);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

	
}
#pitsulista .tuote:hover .pitsuid{
    top:65px;
    background: rgba(0,0,0,0.80);
}

.pitsunimi {
	padding: 8px;
	color: white;
	font-size: 16px;
	float: left;
	max-width: 160px;
	display: block;
	text-align: center;
	vertical-align: middle;
    font-weight: bold;
	
}
.pitsukuvaus {
    clear:both;
    padding: 8px;
    color: white;
    font-size: 14px;
    max-width: 160px;
    vertical-align: middle;
    
}

.pitsuhintaboksi {
	background-color: yellow;
	display: block;
	float: right;
	height: 40px;
	width: 60px;
	padding: 0px;
	margin: 12px;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.75);
}

.pitsuhinta {
	vertical-align:middle;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	
}

.hinta {
	font-weight:bold;
}

#yhteystiedot {
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);
	margin: 8px;
	padding: 8px;
	background-color: white;	
	height: 500px;
	position: relative;
}

#yhteystiedot p {
	float: left;
	margin-right: 460px;
}

#kartta {
	position: absolute;
	top:0;
	right: 0;
	padding: 8px;
}

#karttatext {
	clear: both;
}

p {
	padding-top: 8px;
	padding-bottom: 16px;	
}

h1 {
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 24px;
}

td {
	padding: 4px;
}














/* CSS for shopping cart*/


#ostoskori {
	margin: 0px;
	max-width: 272px;
	/*max-height: 250px;*/
	width: 272px;
	min-height: 250px;
	-display: block;
	-float: right;
	-width:200px;
	float:left;
	-background: #FDFDFD;
	--moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	--webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	-box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);
	padding: 0px;
}

#ostoskorix {
	max-width: 272px;
	/*max-height: 250px;*/
	width: 272px;
	min-height: 250px;
	margin-left: -16px;
	margin-top: 16px;
	background: #FDFDFD;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);

    position:relative;
    padding-bottom:6em;
    font-size: .9em;
}
#ostoskori div.top {
	padding:.3em;
	font-size:18px;
	font-weight:bold;
    border:1px solid white;
    /*background-color:#ff4;*/
    /*background-color:#ffe;*/
    text-transform: uppercase;
    border-bottom:1px solid #eee;
}

#ostoskori div.tuotteet {
    padding:.3em;
}
#ostoskori div.bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;

    padding:.3em .6em;
    /*padding-bottom: .6em;*/
    text-align: right;
}
#ostoskori #cart-total-price {
    font-weight:bold;
}
#ostoskori #cart-count {
    display:inline-block;
    float:left;
}

#ostoskori div.bottom div.info {
    padding:.5em 0;
    border-bottom: 1px solid #eee;
}
#ostoskori div.bottom div.controls {
    text-align: center;
    padding:.7em 0;
}
#ostoskori div.bottom div.controls a {
    font-weight:bold;
    color:white;
    background-color:#666;
    display:inline-block;
    text-decoration: none;
    padding:.4em .4em;
    border-radius: 2px;
    border-bottom:2px solid #444;
    border-right:1px solid #444;
    margin:0 .2em;
    opacity: 0.9;
}
#ostoskori div.bottom div.controls a:hover {
        opacity: 1;
}
#ostoskori div.bottom div.controls a.submit {
    background-color:#392;
	border-radius: 2px;
    border-bottom:2px solid #171;
    border-right:1px solid #171;
}

.validator{
	background-color:red;
	margin-top: 16px;
	color: white;
	padding: 8px;
	position: relative;
}

.validator:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 9px 11px;
border-color: #FF0000 transparent;
display: block;
width: 0;
z-index: 1;
top: -11px;
left: 32px;
}

.cart-tuote {
	padding:.3em;
	border-bottom:1px solid #eee;
	clear:both;
    font-size:1.2em;
    height:32px;
}
.cart-tuote * {
	vertical-align:top;
}
.cart-tuote img {
	width:32px;
	height:auto;
	border-bottom:1px solid #eee;
	vertical-align: bottom;
}
.cart-tuote .nimi {
	width:160px;
	display:inline-block;
}


.cart-tuote:hover {
    background-color: #eee
}
.cart-tuote a {
	width:24px;
	height:24px;
	float:right;
	color:rgba(0, 0, 0, 0);
	opacity:0.5;
	font-size:10px;
	text-decoration: none;
	background-image:url('images/delete.png');
}
.cart-tuote:hover a {
	display:inline-block;
}

.cart-tuote a:hover {
	background-image:url('images/delete_hover.png');
	opacity:1;
}




#tilaukset div.tilaus {
	background: #FDFDFD;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	padding:.9em;
	margin-bottom:1em;
}

#tilaukset div.tilaus h1 {
	color:white;
	padding:.2em .3em;
	margin-bottom:.2em;
	border-radius: 2px

}
#tilaukset div.tilattu h1 {
	background:#ed0b0b;
}
#tilaukset div.kasittelyssa h1 {
	background:#fae20a;
}
#tilaukset div.toimitettu h1 {
	background:#8bbc21;
}

#tilaukset div.tilaus table {
	width:100%;
	font-size:.9em;
	text-align:center;
}
#tilaukset div.tilaus table th {
	font-weight: bold;
	padding:.6em;
}
#tilaukset div.tilaus table td {
	background-color: #eee;
	padding:.5em;
	border:1px solid white;
}


#tilaukset div.tilaus div {
	margin-top:.5em;
}

#tilaukset div.tilaus div h2 {
	margin-top:.5em;
}
#tilaukset div.tilaus div h2 {
	font-weight: bold;
	display:inline-block;
}
#tilaukset div.tilaus span.tuote {
	display:inline-block;
	font-size:.9em;
	padding:.5em;
	margin:0 .3em;
	background-color: #ddd;
	border-radius: 2px;
}
#tilaukset div.tilaus span.tuote strong {
	color:#000;
}
