/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

input:focus{
   outline:none;
  }

@import url("cart.css");


* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body {
	background-color: #E0E0E0;
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

body a {
	color: #ff0000;
}

html, body {
    height: 100%;
    min-height: 100%;
    max-height:100%;
}
#holder {
    min-height: 100%;
    max-height:100%;
    height: 100%;
}


#top {
	position: relative;
	/*height: 172px;*/
	background: #FDFDFD;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);
}

#top div.images {
	clear:both;
	padding:1em 1em 0 1em;
}
#top img {
	/*margin: 16px;*/
}
#top img.offer {
	float:right;
	height:90px;
}


#top div.images:after {
	content:"";
	display: block;
	clear:both;
}
#navbar img {
	padding: 0px;
}
#navbar {
	background: #FDFDFD;
	font-size: 24px;
	/*position: absolute;*/
	/*bottom: 0;*/
	padding: 8px;
	clear:both;
}

.navbar-item, .navbar-item-active {
	display: inline-block;
	/*float: left;*/
	padding: 4px;
	margin-right: 8px;
}
#navbar .navbar-item-active {
	color: white;
	background-color: #ED0B0B;
	box-shadow: inset 0px -2px 0px rgba(0,0,0,0.2);
	vertical-align: middle;
}

.navbar-item a, .navbar-item-active a {
	text-decoration: none;
}

.navbar-item a {
	color:black;
}
.navbar-item a, .navbar-item-active a {
	color:inherit;
}



#pitsulista {
	width:100%;
	float:left;
	margin-right:-272px;
}

#pitsulistax {
	margin-right: 280px;
	padding: 16px;
}

#tilauslomake {
	width:100%;
	float:left;
	margin-right:-272px;
}

#tilauslomakex {
	margin-right: 280px;
	margin: 16px;
	margin-right: 304px;
	padding: 16px;
	background-color: #FDFDFD;
			-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
}

#tilauslomake table{
	max-width:640px;
	width:100%;
}

#tilauslomake p{
	padding-top:4px;
	padding-bottom:4px;
}

#tilauslomake td{
	padding-right:16px;
}

#tilauslomake table input{
	width:100%;
	border: 1px solid #A7A7A7;
	height:32px;
	padding-left:8px;
	font-size: 14px;
	font-family: Helvetica;
}

#tilauslomake table input[type=text]:focus{
	border: 1px solid green;
}

#tilauslomake input[type="submit"],
#tilauslomake a.submit{
	font-weight: bold;
	font-size: 13px;
	padding:8px;
	margin-top: 16px;
	background-color: #392;
	color:white;
	border-radius: 2px;
	border: 0px solid black;
	border-bottom: 2px solid #171;
	text-decoration: none;
}

.sort {
    float:right;
    text-align:center;
    display:inline-block;
    /*text-align:right;*/
    padding-right:1em;
    position: relative;
    top:0;
    margin-right: 6px;
    background-color: white;
    padding: 4px;
    -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.75);
}
.kategoria {
	font-size: 36px;
	padding-bottom: 8px;
    clear:both;
    margin-top:.3em;
}

 .tuote {
	cursor:pointer;
	float: left;
	display: inline-block;
	min-height: 160px;
	min-width: 160px;
	position: relative;
	margin:4px;
    overflow: hidden;
}

.pitsuid {
    bottom: 0px;
    top: 130px;
	display: block;
	position: absolute;
	width: 160px;
	background: rgba(0,0,0,0.50);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

	
}
 .tuote:hover .pitsuid{
    top:65px;
    background: rgba(0,0,0,0.80);
}

.pitsunimi {
	padding: 8px;
	color: white;
	font-size: 16px;
	/*float: left;*/
	/*max-width: 160px;*/
	display: block;
	text-align: center;
	vertical-align: middle;
    font-weight: bold;
	
}
.pitsukuvaus {
    clear:both;
    padding: 8px;
    color: white;
    font-size: 14px;
    /*max-width: 160px;*/
    vertical-align: middle;
    
}

.pitsuhintaboksi {
	background-color: yellow;
	display: block;
	float: right;
	height: 40px;
	width: 75px;
	padding: 0px;
	margin: 12px;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.75);
}

.pitsuhinta {
	vertical-align:middle;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	
}

.hinta {
	font-weight:bold;
}

#yhteystiedot {
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);
	margin: 8px;
	padding: 8px;
	background-color: white;
	/*position: relative;*/
}

#yhteystiedot .info {
	/*float: left;*/
	/*display: inline-block;*/
	/*margin-right: 500px;*/
	width: auto;
	/*border: 1px solid red;*/
	vertical-align: top;
}

#kartta {
	/*position: absolute;*/
	/*top:0;*/
	/*right: 0;*/
	display: inline-block;
	z-index: 500;
	padding: 8px;
	float:right;
	vertical-align: top;
	width: 450px;
}

#karttatext {
	clear: both;
}

p {
	padding-top: 8px;
	padding-bottom: 16px;	
}

h1 {
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 24px;
}
h2 {
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
}
h3 {
	/*text-transform: uppercase;*/
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
	font-weight: bold;
	color:#444;
}

td {
	padding: 4px;
}












/* CSS for shopping cart*/


#ostoskori {
	margin: 0px;
	max-width: 272px;
	/*max-height: 250px;*/
	width: 272px;
	min-height: 250px;
	-display: block;
	-float: right;
	-width:200px;
	float:left;
	-background: #FDFDFD;
	--moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	--webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	-box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);
	padding: 0px;
}

#ostoskorix {
	max-width: 272px;
	/*max-height: 250px;*/
	width: 272px;
	min-height: 250px;
	margin-left: -16px;
	margin-top: 16px;
	background: #FDFDFD;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);

    position:relative;
    padding-bottom:6em;
    font-size: .9em;
}
#ostoskori div.top {
	padding:.3em;
	font-size:18px;
	font-weight:bold;
    border:1px solid white;
    /*background-color:#ff4;*/
    /*background-color:#ffe;*/
    text-transform: uppercase;
    border-bottom:1px solid #eee;
}

#ostoskori div.tuotteet {
    padding:.3em;
}
#ostoskori div.bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;

    padding:.3em .6em;
    /*padding-bottom: .6em;*/
    text-align: right;
}
#ostoskori #cart-total-price {
    font-weight:bold;
}
#ostoskori #cart-count {
    display:inline-block;
    float:left;
}

#ostoskori div.bottom div.info {
    padding:.5em 0;
    border-bottom: 1px solid #eee;
}
#ostoskori div.bottom div.controls {
    text-align: center;
    padding:.7em 0;
}
#ostoskori div.bottom div.controls a {
    font-weight:bold;
    color:white;
    background-color:#666;
    display:inline-block;
    text-decoration: none;
    padding:.4em .4em;
    border-radius: 2px;
    border-bottom:2px solid #444;
    border-right:1px solid #444;
    margin:0 .2em;
    opacity: 0.9;
}
#ostoskori div.bottom div.controls a:hover {
        opacity: 1;
}
#ostoskori div.bottom div.controls a.submit {
    background-color:#392;
	border-radius: 2px;
    border-bottom:2px solid #171;
    border-right:1px solid #171;
}

.validator{
	background-color:red;
	margin-top: 16px;
	color: white;
	padding: 8px;
	position: relative;
}

.validator:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 9px 11px;
border-color: #FF0000 transparent;
display: block;
width: 0;
z-index: 1;
top: -11px;
left: 32px;
}

.cart-tuote {
	padding:.3em;
	border-bottom:1px solid #eee;
	clear:both;
    font-size:1.2em;
    height:32px;
}
.cart-tuote * {
	vertical-align:top;
}
.cart-tuote img {
	width:32px;
	height:auto;
	border-bottom:1px solid #eee;
	vertical-align: bottom;
}
.cart-tuote .nimi {
	width:160px;
	display:inline-block;
}


.cart-tuote:hover {
    background-color: #eee
}
.cart-tuote a {
	width:24px;
	height:24px;
	float:right;
	color:rgba(0, 0, 0, 0);
	opacity:0.5;
	font-size:10px;
	text-decoration: none;
	background-image:url('images/delete.png');
}
.cart-tuote:hover a {
	display:inline-block;
}

.cart-tuote a:hover {
	background-image:url('images/delete_hover.png');
	opacity:1;
}



#order-stats-bar {
	display:block;
	width:100%;
	padding:0;
	margin: 0;
	margin-bottom: .4em;
}
#order-stats-bar div.status-0 {
	background:#ed0b0b;
}
#order-stats-bar div.status-1 {
	background:#fae20a;
}
#order-stats-bar div.status-2 {
	background:#8bbc21;
}
#tilaukset {
	padding:.75em;
	vertical-align: top;
}
#tilaukset div.tilaus {
	background: #FDFDFD;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	padding:1em;
	margin-bottom:0.75em;
}

#tilaukset div.tilaus h1 {
	color:white;
	padding:.20em .25em;
	margin-bottom:.1em;
	border-radius: 2px;
	font-size:1.21em;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);

}
#tilaukset div.status-0 h1 {
	background:#ed0b0b;
}
#tilaukset div.status-1 h1 {
	background:#fae20a;
}
#tilaukset div.status-2 h1 {
	background:#8bbc21;
}

#tilaukset div.tilaus table {
	width:100%;
	font-size:.9em;
	text-align:center;
}
#tilaukset div.tilaus table th {
	/*font-weight: bold;*/
	padding:.2em;
	font-size:.8em;
}
#tilaukset div.tilaus table td {
	background-color: #eee;
	padding:.5em;
	border:1px solid white;
	font-weight: ;
}


#tilaukset div.tilaus div {
	margin-top:.5em;
}
#tilaukset div.tilaus div.products {
	width:49%;
	display: inline-block;
}
#tilaukset div.tilaus div.buttons {
	/*width:49%;*/
	/*display: inline-block;*/
	text-align: right;
}
#tilaukset div.tilaus div.buttons a {
	font-size:.8em;
    font-weight:bold;
    color:white;
    background-color:#777;
    display:inline-block;
    text-decoration: none;
    padding:.4em .4em;
    border-radius: 2px;
    border-bottom:2px solid #555;
    border-right:1px solid #555;
    margin:0 .2em;
    opacity: 0.9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
#tilaukset div.tilaus div.buttons a.poista {
	background-color: red;
	border-color: #a00;
}
#tilaukset div.tilaus div.buttons a.sta1 {
	background:#e8d400;
	border-color: #C5B400;
}
#tilaukset div.tilaus div.buttons a.sta2 {
	background:#8bbc21;
	border-color:#769F1C;
}
#tilaukset div.tilaus div.buttons a.sta2 {
	background:#8bbc21;
	border-color: #71991B;
}
#tilaukset div.tilaus div h2 {
	/*margin-top:.5em;*/
	font-size:.9em;
}
#tilaukset div.tilaus div h2 {
	font-weight: bold;
	display:inline-block;
}
#tilaukset div.tilaus div.products {
	width: 100%;
	display: block;
}
#tilaukset div.tilaus div.products .order-tuote {
	display:inline-block;
	font-size:.9em;
	padding:.4em;
	margin:.2em .2em;
	background-color: #ddd;
	border-radius: 3px;
	text-align: left;
	width: auto !important;
}
#tilaukset div.tilaus div.products .order-tuote strong {
	color:#000;
	font-weight: bold;
}


#tilauslista {
	top: 1px;
	width:400px;
	padding:0;
	margin:0;
	display: inline-block;
	vertical-align: top;
	float:left;
	position: fixed;
<<<<<<< HEAD
	background-color: #fbfbfb;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
=======
	top:.8em;
	bottom: .8em;
	overflow-y:auto;
	background-color: white;
>>>>>>> 87148a0f8c46c189845911fa3c0c3ffca48b47a9

}
#orderstats text[text-anchor="end"] {
	display: none;
}

#orderlist {
	padding:0;
	margin:0;
	vertical-align: top;
}
#orderlist div {
	vertical-align: top;
	width:32%;
	display: inline-block;
	margin:0;
	padding:.1em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#orderlist div {
	text-align: center;
}
#orderlist .orders {
	/*display: inline-block;*/
	margin:0;
	padding:0;
	min-height: 200px;
}
#orderlist .orders a {
	color: white;
	display: inline-block;
	background-color: black;
	border-radius: 3px;
	text-decoration: none;
	margin: .2em;
	padding:.3em .4em;
	width:100%;
	font-size:.95em;
	opacity: .9;
	font-weight: bold;
	text-shadow: 0 0 2px #111;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.33);
}
#orderlist .order-placeholder {
	border:1px solid #aaa;
	background-color: #ccc;
	opacity: .5;
	height:28px;
	width:100%;
	border-radius: 3px;
	display: inline-block;
	margin:.2em;

}

#orderlist .orders a:hover {
	opacity: 1;
}

#orderlist .orders a.status-0 {
	background:#ed0b0b;
}
#orderlist .orders a.status-1 {
	background:#e8d400;
}
#orderlist .orders a.status-2 {
	background:#8bbc21;
}


#order-info {
	margin-left:410px;
	vertical-align: top;
	position: relative;
	padding-bottom:30em;

}
#order-info div {
	/*display: inline-block;*/
	font-weight: bold;
	font-size:.95em;
}
#order-info div a {
	text-decoration: none;
	color: inherit;
}
#order-info h1 a {
	color:white;
}
#order-info h1 span {
	float:right;
	font-weight: normal;
	font-size:.9em;
	text-transform: none;
}
#order-info div.info span {
	width:160px;
	display: inline-block;
	font-weight: normal;
	font-size:.9em;
	text-align: right;
	padding-right: 1em;
}


@media (max-width: 801px) {
    #top img.offer {
    	display:none;
    }

	#kartta {
		position: static !important;
		padding: 8px;
		display: block !important;
		width:100%2 !important;
	}
	#kartta iframe {
		display: block;
		width: 100%;
	}
	#karttatext {
		clear: both;
	}
	#yhteystiedot p {
		float: none !important;
		margin-right: 0 !important;
	}

    #ostoskori, #ostoskorix {
    	display:block !important;
    	/*margin:0 !important;*/
    	padding: 0 !important;
    	width:100% !important;
    	max-width:100% !important;
    	float:none;
    	box-sizing:border-box;
    	-moz-box-sizing:border-box;
    	-webkit-box-sizing:border-box;
    }
    #ostoskori {
    	padding:1em !important;	
    }
    #ostoskorix {
    	margin:0 !important;
    	padding-bottom:6em !important;	
    }
	#pitsulista {
		width:100%;
		float:none;
		margin:0 !important;
	}
	#pitsulistax {
		width:100%;
		float:none;
		margin:0 !important;

	}
	#tilauslomake {
		width:auto !important;
		float:none !important;
		margin:1em !important;
		display: block !important;
	}
	#tilauslomakex {
		width:auto !important;
		float:none !important;
		margin:0 !important;
		display: block !important;
	}

    #pitsulista .tuote {
    	display:block;
    	float:none;
    	background:transparent !important;
    	background-image: none !important;
    	background-color: #fbfbfb !important;
    	border-bottom:1px solid #aaa;
    	position: normal;
    	
    	min-width: 100% !important;
    	max-width: 100% !important;
    	width:100%		!important;
    	min-height:auto !important;
    	/*max-height:auto !important;*/
    	height:    70px !important;
    	min-height:70px !important;

		padding:.4em;
    }

    #pitsulista .tuote * {
    	min-height:auto !important;
    	max-height:auto !important;
    	min-width: auto !important;
    	max-width: auto !important;
    	width:     auto !important;
    	height:    auto !important;
    	top:       auto !important;
    	left:      auto !important;
    	bottom:    auto !important;
    	right:     auto !important;
    	background-color: transparent !important;
    	background-image: none !important;
/*    	color:black !important;
    	margin:0 !important;
    	padding:0 !important;*/

    }
	#pitsulista .pitsuid {
		display: block;
		position: normal;
		background-color: transparent;
	}
	#pitsulista .tuote:hover .pitsuid {
	    width:auto !important;
	    height:auto !important;
	}



	#pitsulista .pitsunimi {
		padding: 2px !important;
		color:black !important;
		font-size: 15px !important;
	    font-weight: bold;
	    display: inline-block;
	    clear:both;
	    margin:0 !important;
	    /*text-align: left;*/
	}
	#pitsulista .pitsukuvaus {
	    clear:both;
		color:black !important;
	    font-size: 14px;
	    width:100% !important;
	    min-width:100% !important;
		display: inline-block !important;

	}

	#pitsulista .pitsukuvaus:after {
		content:" ";
		display: block;
		
		clear:both;
	}
	#pitsulista .pitsuhintaboksi {
		/*background-color: yellow;*/
		display: inline-block;
		/*float: right;*/
		line-height: 10px !important;
		
		height: auto !important;
		width: 60px !important;
		padding: 0 !important;
		margin:0 !important;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
		/*margin-right:-80px !important;*/
	}

	#pitsulista .pitsuhinta {
		vertical-align:middle;
		line-height: auto;
		text-align: center;
		vertical-align: middle;

		font-size: 1em !important;
		padding: 0 !important;
		margin:0 !important;
		font-size:1.1em !important;
		
	}
	#pitsulista .pitsuhinta:after {
		content:" ";
		display: block;
		clear:both;
	}








	#tilauslista {
		width:auto !important;
		display: block !important;
		/*vertical-align: top;*/
		float:none !important;
		position: static !important;
		/*background-color: white;*/
		margin-bottom:1em !important;
	}
	#order-info {
		margin:0 !important;
		position: static !important;
		/*padding-bottom:30em;*/
	}

	#order-info span {
		width: 100px !important;
	}

}	


#notif-msg {
	display:block;
	display: none;
	left:1.5em;
	top:1.5em;
	right:1.5em;
	height:3em;
	padding:1em;
	text-align: center;
	font-weight: bold;
	position: fixed;
	background-color: rgba(255,200,80,.8);
	border:2px solid rgba(255,190,10,.9);
	border-radius: .5em;
	z-index: 1000;
}

.kuva {
	display:block;
	width: 30%;
	float: left;
	background-color:#EFEFEF;
	margin: 1%;
	border-radius: 8px;
}

.kuva img {
	width: 100%;
	padding:16px;
}

.kuva p {
	padding:16px;
	font-style:italic;
	text-align:center;
}

#palkki {
	border-radius: 4px;
	background: #D8D8D8;
	border: 1px solid #757575;
	height: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	color: #828282;
}

#tiedot{
	width: 33.33%;
	float: left;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	text-overflow:ellipsis;
	overflow: hidden;
	}

#vahvistus{
	width: 33.33%;
	float: left;
	height: 38px;
	line-height: 38px;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
}

#valmis{
	width: 33.33%;
	float: left;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
}

.active {
	color: #99CC91 !important;	
	background-color: #339922 !important;
}

.current {
	font-weight: bold !important;
	color:white !important;
}

#url {
	padding: 16px;
	background-color:rgba(0,0,0,0.75);
	color:white;
	position:absolute;
	z-index: 999;
	font-size: 8vw;
	top: 5%;
	left: 5%;
	border-radius: 8px;
}
